<!-- Start header section -->
  <header id="aa-header">
    <!-- start header top  -->
    <div class="aa-header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-header-top-area">
              <!-- start header top left -->
              <div class="aa-header-top-left">
                <!-- xxstart language -->
                <div class="aa-language" "col-md-4 col-md-offset-4">
                </div>
                <!--xx / language -->
                <!--xx start currency -->
                <div class="aa-currency">
                </div>
                <!-- / currency -->
                <!-- start cellphone -->
                <div class="cellphone">
                  <p><span class></span><a href="/home/index">JUST BOOK</a></p>
                </div>
                <!-- / cellphone -->
                   <!-- search box -->
              <div class="aa-search-box" "col-md-4 col-md-offset-4">
                <form method="POST" action="/home/search">
                  
                  <input type="text" name="query" id="" placeholder="제목, 저자 검색 ">
                  <button type="submit"><span class="fa fa-search"></span></button>
                </form>
              </div>
              <!-- / search box --> 
              </div>
              <!-- / header top left -->
              <div class="aa-header-top-right">
                <ul class="aa-head-top-nav-right">
                  <% if user_signed_in? %>
                  <li><a href= "/users/sign_out">로그아웃</a></li>
                  <li><a href="/mybook/bought">마이북스</a></li> 
                  <% else %>
                   <li><a href="/users/sign_up" >회원가입</a></li>
                   <li><a href="/users/sign_in">로그인</a></li>
                   <!--<li><a href="/users/sign_in">로그인</a></li><%#= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>-->
                   <li><a href="/users/auth/facebook">Login with Facebook</a></li>
                  <% end %>
                  
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / header top  -->
    
    