<!-- menu -->
  <section id="menu">
    <div class="container">
      <div class="menu-area">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>          
          </div>
          <div class="navbar-collapse collapse">
            <!-- Left nav -->
            <ul class="nav navbar-nav">
                <li><a href="#">전체분야<span class="caret"></span></a>
                <ul class="dropdown-menu">                
                  <li><a href="#">소설/시/에세이</a></li>
                  <li><a href="#">자기계발</a></li>
                  <li><a href="#">인문/역사</a></li>
                  <li><a href="#">예술/종교</a></li>                                                
                  <li><a href="#">컴퓨터 IT</a></li>
                  </li>
                </ul>
              </li>
              <li><a href="#">월간 베스트 셀러</a></li>
              <li><a href="#">스테디셀러</a></li>
              <li><a href="#">분야별 TOP 100</a></li>
              </li>
     
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>       
    </div>
  </section>
  <!-- / menu -->