 <!-- Support section -->
  <section id="aa-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-support-area">
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-eye"></span>
                <h4>완벽한 가독성</h4>
                <P>저스트 북스 페이퍼의 고해상도 화면을 통해 실제 종이책과 동일한 수준의 선명한 글씨를 읽을 수 있습니다.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-lightbulb-o"></span>
                <h4>어두운 밤에는 은은하게</h4>
                <P>독서등이 종이책을 비추듯 정면에서 화면을 밝혀줍니다. 어두운 밤에도 오랫동안 최고의 가독성을 경험할 수 있습니다.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-file-text-o"></span>
                <h4>페이지 넘김 버튼</h4>
                <P>페이지 화면 양쪽에 위치한 버튼을 이용하여 더욱 쉽게 페이지를 넘길 수 있습니다.</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Support section -->