 <!-- Testimonial -->
  <section id="aa-testimonial">  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-testimonial-area">
            <ul class="aa-testimonial-slider">
              <!-- single slide -->
              <li>
                <div class="aa-testimonial-single">
                <img class="aa-testimonial-img" src="img/testimonial-img-2.jpg" alt="testimonial img">
                  <span class="fa fa-quote-left aa-testimonial-quote"></span>
                  <p>우정은 비겁의 한 형태일 뿐이며, 사랑이라는 더 큰 책임과 도전을 회피하는 것이라는<br> 프루스트의 (대단히 비아리스토텔렐레스적인) 결론에 찬성하고 싶었다.</p>
                  <div class="aa-testimonial-info">
                    <p>[ 우리는 사랑일까 ] </p>
                    <span>알랭드보통</span></span>
                    <a href="#">김다혜님의 명언집 바로가기</a>
                  </div>
                </div>
              </li>
              <!-- single slide -->
              <li>
                <div class="aa-testimonial-single">
                <img class="aa-testimonial-img" src="img/testimonial-img-1.jpg" alt="testimonial img">
                  <span class="fa fa-quote-left aa-testimonial-quote"></span>
                  <p>통조림은 저널리즘적(액체를 담은, 한번 쓰고 버릴 용기)이었다가, <br> 워홀이 액자에 넣음으로써 문학의 반열(벽에 진열하고 반복해서 관람하는 것)로 격상된 셈이었다.</p>
                  <div class="aa-testimonial-info">
                    <p>[ 우리는 사랑일까 ]</p>
                    <span>알랭드보통</span>
                    <a href="#">정재윤님의 명언집 바로가기</a>
                  </div>
                </div>
              </li>
               <!-- single slide -->
              <li>
                <div class="aa-testimonial-single">
                <img class="aa-testimonial-img" src="img/testimonial-img-3.jpg" alt="testimonial img">
                  <span class="fa fa-quote-left aa-testimonial-quote"></span>
                  <p>타인을 상대할 때, 대개 우리는 무의식적으로 상대의 반응을 예상하고 행동한다.<br>내가 x라고 말하거나 행동하면, 이사람은 y라는 반응을 보이겠지.</p>
                  <div class="aa-testimonial-info">
                    <p>[ 우리는 사랑일까 ]</p>
                    <span>알랭드보통</span>
                    <a href="#">김우동님의 명언집 바로가기</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Testimonial -->