<script>

function popView() {

    window.open('/prince.pdf','CLIENT_WINDOW','resizable=yes scrollbars=yes width=800 height=700');

}

</script>



<!-- Start header section -->
  <header id="aa-header">
    <!-- start header top  -->
    <div class="aa-header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-header-top-area">
              <!-- start header top left -->
              <div class="aa-header-top-left">
                <!-- xxstart language -->
                <div class="aa-language" "col-md-4 col-md-offset-4">
                </div>
                <!--xx / language -->
                <!--xx start currency -->
                <div class="aa-currency">
                </div>
                <!-- / currency -->
                <!-- start cellphone -->
                <div class="cellphone">
                  <p><span class></span>JUSTBOOKS</p>
                </div>
                <!-- / cellphone -->
                   <!-- search box -->
              <div class="aa-search-box" "col-md-4 col-md-offset-4">
                <form action="">
                  <input type="text" name="" id="" placeholder="제목 저자 출판사 검색 ">
                  <button type="submit"><span class="fa fa-search"></span></button>
                </form>
              </div>
              <!-- / search box --> 
              </div>
              <!-- / header top left -->
              <div class="aa-header-top-right">
                <ul class="aa-head-top-nav-right">

                  <% if user_signed_in? %>
                  <li><a href= "/users/sign_out">로그아웃</a></li>
                  <li><a href="mybook/bought">마이북스</a></li> 
                  <% else %>
                   <li><a href="/users/sign_up" >회원가입</a></li>
                   <li><a href="/users/sign_in">로그인</a></li>
                   <!--<li><a href="/users/sign_in">로그인</a></li><%#= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>-->
                   <li><a href="/users/auth/facebook">Login with Facebook</a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / header top  -->

  </header>
  <!-- / header section -->
  <!-- menu -->
  <section id="menu">
    <div class="container">
      <div class="menu-area">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>          
          </div>
          <div class="navbar-collapse collapse">
            <!-- Left nav -->
            <ul class="nav navbar-nav">
                <li><a href="#">전체분야<span class="caret"></span></a>
                <ul class="dropdown-menu">                
                  <li><a href="#">소설/시/에세이</a></li>
                  <li><a href="#">자기계발</a></li>
                  <li><a href="#">인문/역사</a></li>
                  <li><a href="#">예술/종교</a></li>                                                
                  <li><a href="#">컴퓨터 IT</a></li>
                  </li>
                </ul>
              </li>
              <li><a href="#">월간 베스트 셀러</a></li>
              <li><a href="#">스테디셀러</a></li>
              <li><a href="#">분야별 TOP 100</a></li>
              </li>
     
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>       
    </div>
  </section>
  <!-- / menu -->
  
 
  <!-- product category -->
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">                              
                  <div class="aa-product-view-slider">                                
                    <div id="demo-1" class="simpleLens-gallery-container">
                      <div class="simpleLens-container">
                        <div class="simpleLens-big-image-container"><a data-lens-image="<%= @book.cover %>" class="simpleLens-lens-image"><img src="<%= @book.cover %>" class="simpleLens-big-image"></a></div>
                      </div>
                      <div class="simpleLens-thumbnails-container">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3><b><%= @book.name %></b></h3>
                    <div class="aa-price-block">
                      <!--<span class="aa-product-view-price"> <b>9,800원</b> <font color="red">(10% 할인)</font></span>-->
                      <p class="aa-product-avilability"><%= @book.author %></p>
                    </div>
                    <p><br>일단비움<br><br><br></p>
                    <% if user_signed_in? %>
                    <div class="aa-prod-view-bottom">
                      <a class = "aa-add-to-cart-btn" href="/prince.pdf" onClick="popView()" target="_blank">읽기</a>
                      <!--<a class="aa-add-to-cart-btn" href="/mybook/content">읽기</a>-->
                      <a class="aa-add-to-cart-btn" href="#">찜하기</a>
                    <% end %>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="aa-product-details-bottom">
              <ul class="nav nav-tabs" id="myTab2">
                <li><a href="#description" data-toggle="tab">설명</a></li>
                <li><a href="#review" data-toggle="tab">리뷰</a></li>                
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="description">
                  <ul>
                    <br><br>
                    <li>2010년 스웨덴 베스트셀러상 </li>
                    <li>2012년 독일『부흐마크트』선정 최고의 작가 1위</li>
                    <li>2012년 영국 아마존 선정 최고의 책 10선</li>
                    <li>2011년 독일 M-피오니어상</li>
                    <br><br>

                  </ul>
                  <p>일단비움.
</p><br><br><br>
                  <p></p>
                 </div>
                <div class="tab-pane fade " id="review">
                 <div class="aa-product-review-area">
                   <h4>2 Reviews for T-Shirt</h4> 
                   <ul class="aa-review-nav">
                     <li>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="img/testimonial-img-3.jpg" alt="girl image">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><strong> 핵 잼이네요^_^</strong>김우동 <span>March 26, 2016</span></h4>
                            <div class="aa-product-rating">
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star-o"></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="img/testimonial-img-3.jpg" alt="girl image">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><strong>Marla Jobs</strong> - <span>March 26, 2016</span></h4>
                            <div class="aa-product-rating">
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star-o"></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                        </div>
                      </li>
                   </ul>
                   <h4>Add a review</h4>
                   <div class="aa-your-rating">
                     <p>Your Rating</p>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                     <a href="#"><span class="fa fa-star-o"></span></a>
                   </div>
                   <!-- review form -->
                   <form action="" class="aa-review-form">
                      <div class="form-group">
                        <label for="message">Your Review</label>
                        <textarea class="form-control" rows="3" id="message"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                      </div>  
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
                      </div>

                      <button type="submit" class="btn btn-default aa-review-submit">Submit</button>
                   </form>
                 </div>
                </div>            
              </div>
            </div>
            <!-- Related product -->
            <!--<div class="aa-product-related-item">-->
            <!--  <h3>최근 본책</h3>-->
            <!--  <ul class="aa-product-catg aa-related-item-slider">-->
                <!-- start single product item -->
            <!--    <li>-->
            <!--      <figure>-->
            <!--        <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-2.png" alt="polo shirt img"></a>-->
            <!--        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--         <figcaption>-->
            <!--          <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>-->
            <!--          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
            <!--        </figcaption>-->
            <!--      </figure>                     -->
            <!--      <div class="aa-product-hvr-content">-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
            <!--        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            -->
            <!--      </div>-->
                  <!-- product badge -->
            <!--      <span class="aa-badge aa-sale" href="#">SALE!</span>-->
            <!--    </li>-->
                 <!-- start single product item -->
            <!--    <li>-->
            <!--      <figure>-->
            <!--        <a class="aa-product-img" href="#"><img src="img/women/girl-2.png" alt="polo shirt img"></a>-->
            <!--        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--        <figcaption>-->
            <!--          <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>-->
            <!--          <span class="aa-product-price">$45.50</span>-->
            <!--        </figcaption>-->
            <!--      </figure>                      -->
            <!--      <div class="aa-product-hvr-content">-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
            <!--        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
            <!--      </div>-->
                  <!-- product badge -->
            <!--       <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>-->
            <!--    </li>-->
                <!-- start single product item -->
            <!--    <li>-->
            <!--      <figure>-->
            <!--        <a class="aa-product-img" href="#"><img src="img/man/t-shirt-1.png" alt="polo shirt img"></a>-->
            <!--        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--      </figure>-->
            <!--      <figcaption>-->
            <!--        <h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>-->
            <!--        <span class="aa-product-price">$45.50</span>-->
            <!--      </figcaption>-->
            <!--      <div class="aa-product-hvr-content">-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
            <!--        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
            <!--      </div>-->
                  <!-- product badge -->
            <!--       <span class="aa-badge aa-hot" href="#">HOT!</span>-->
            <!--    </li>-->
                <!-- start single product item -->
            <!--    <li>-->
            <!--      <figure>-->
            <!--        <a class="aa-product-img" href="#"><img src="img/women/girl-3.png" alt="polo shirt img"></a>-->
            <!--        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--         <figcaption>-->
            <!--          <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>-->
            <!--          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
            <!--        </figcaption>-->
            <!--      </figure>                     -->
            <!--      <div class="aa-product-hvr-content">-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
            <!--        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
            <!--      </div>-->
            <!--    </li>-->
                <!-- start single product item -->
            <!--    <li>-->
            <!--      <figure>-->
            <!--        <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-1.png" alt="polo shirt img"></a>-->
            <!--        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--        <figcaption>-->
            <!--          <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>-->
            <!--          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
            <!--        </figcaption>-->
            <!--      </figure>                      -->
            <!--      <div class="aa-product-hvr-content">-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
            <!--        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
            <!--      </div>-->
            <!--    </li>-->
                <!-- start single product item -->
            <!--    <li>-->
            <!--      <figure>-->
            <!--        <a class="aa-product-img" href="#"><img src="img/women/girl-4.png" alt="polo shirt img"></a>-->
            <!--        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--        <figcaption>-->
            <!--          <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>-->
            <!--          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
            <!--        </figcaption>-->
            <!--      </figure>                     -->
            <!--      <div class="aa-product-hvr-content">-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
            <!--        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
            <!--      </div>-->
                  <!-- product badge -->
            <!--      <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>-->
            <!--    </li>    -->
                <!-- start single product item -->
            <!--    <li>-->
            <!--      <figure>-->
            <!--        <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-4.png" alt="polo shirt img"></a>-->
            <!--        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--         <figcaption>-->
            <!--          <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>-->
            <!--          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
            <!--        </figcaption>-->
            <!--      </figure>                     -->
            <!--      <div class="aa-product-hvr-content">-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
            <!--        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
            <!--      </div>-->
                  <!-- product badge -->
            <!--      <span class="aa-badge aa-hot" href="#">HOT!</span>-->
            <!--    </li> -->
                <!-- start single product item -->
            <!--    <li>-->
            <!--      <figure>-->
            <!--        <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>-->
            <!--        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--         <figcaption>-->
            <!--          <h4 class="aa-product-title"><a href="#">This is Title</a></h4>-->
            <!--          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
            <!--        </figcaption>-->
            <!--      </figure>                     -->
            <!--      <div class="aa-product-hvr-content">-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
            <!--        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
            <!--        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            -->
            <!--      </div>-->
                  <!-- product badge -->
            <!--      <span class="aa-badge aa-sale" href="#">SALE!</span>-->
            <!--    </li>                                                                                   -->
            <!--  </ul>-->
              <!-- quick view modal -->                  
            <!--  <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
            <!--    <div class="modal-dialog">-->
            <!--      <div class="modal-content">                      -->
            <!--        <div class="modal-body">-->
            <!--        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
            <!--          <div class="row">-->
                        <!-- Modal view slider -->
            <!--            <div class="col-md-6 col-sm-6 col-xs-12">                              -->
            <!--              <div class="aa-product-view-slider">                                -->
            <!--                <div class="simpleLens-gallery-container" id="demo-1">-->
            <!--                  <div class="simpleLens-container">-->
            <!--                      <div class="simpleLens-big-image-container">-->
            <!--                          <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">-->
            <!--                              <img src="img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">-->
            <!--                          </a>-->
            <!--                      </div>-->
            <!--                  </div>-->
            <!--                  <div class="simpleLens-thumbnails-container">-->
            <!--                      <a href="#" class="simpleLens-thumbnail-wrapper"-->
            <!--                         data-lens-image="img/view-slider/large/polo-shirt-1.png"-->
            <!--                         data-big-image="img/view-slider/medium/polo-shirt-1.png">-->
            <!--                          <img src="img/view-slider/thumbnail/polo-shirt-1.png">-->
            <!--                      </a>                                    -->
            <!--                      <a href="#" class="simpleLens-thumbnail-wrapper"-->
            <!--                         data-lens-image="img/view-slider/large/polo-shirt-3.png"-->
            <!--                         data-big-image="img/view-slider/medium/polo-shirt-3.png">-->
            <!--                          <img src="img/view-slider/thumbnail/polo-shirt-3.png">-->
            <!--                      </a>-->

            <!--                      <a href="#" class="simpleLens-thumbnail-wrapper"-->
            <!--                         data-lens-image="img/view-slider/large/polo-shirt-4.png"-->
            <!--                         data-big-image="img/view-slider/medium/polo-shirt-4.png">-->
            <!--                          <img src="img/view-slider/thumbnail/polo-shirt-4.png">-->
            <!--                      </a>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
                        <!-- Modal view content -->
            <!--            <div class="col-md-6 col-sm-6 col-xs-12">-->
            <!--              <div class="aa-product-view-content">-->
            <!--                <h3>T-Shirt</h3>-->
            <!--                <div class="aa-price-block">-->
            <!--                  <span class="aa-product-view-price">$34.99</span>-->
            <!--                  <p class="aa-product-avilability">Avilability: <span>In stock</span></p>-->
            <!--                </div>-->
            <!--                <p>꿀잼 핵잼!</p>-->
            <!--                <h4>Size</h4>-->
            <!--                <div class="aa-prod-view-size">-->
            <!--                  <a href="#">S</a>-->
            <!--                  <a href="#">M</a>-->
            <!--                  <a href="#">L</a>-->
            <!--                  <a href="#">XL</a>-->
            <!--                </div>-->
            <!--                <div class="aa-prod-quantity">-->
            <!--                  <form action="">-->
            <!--                    <select name="" id="">-->
            <!--                      <option value="0" selected="1">1</option>-->
            <!--                      <option value="1">2</option>-->
            <!--                      <option value="2">3</option>-->
            <!--                      <option value="3">4</option>-->
            <!--                      <option value="4">5</option>-->
            <!--                      <option value="5">6</option>-->
            <!--                    </select>-->
            <!--                  </form>-->
            <!--                  <p class="aa-prod-category">-->
            <!--                    Category: <a href="#">Polo T-Shirt</a>-->
            <!--                  </p>-->
            <!--                </div>-->
            <!--                <div class="aa-prod-view-bottom">-->
            <!--                  <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
            <!--                  <a href="#" class="aa-add-to-cart-btn">View Details</a>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--        </div>                        -->
            <!--      </div><!-- /.modal-content -->
            <!--    </div><!-- /.modal-dialog -->
            <!--  </div>-->
              <!-- / quick view modal -->   
            <!--</div>  -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / product category -->




   <!-- footer -->  
  <footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
     <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-top-area">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <h3>메인메뉴</h3>
                  <ul class="aa-footer-nav">
                    <li><a href="#">월간베스트 셀러</a></li>
                    <li><a href="#">스테디 셀러</a></li>
                    <li><a href="#">분야별 TOP 100</a></li>

                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>분야별 TOP 100</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">소설/시/에세이</a></li>
                      <li><a href="#">자기계발</a></li>
                      <li><a href="#">인문/역사</a></li>
                      <li><a href="#">예술/종교</a></li>
                      <li><a href="#">컴퓨터IT</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>마이북스</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">최근 본책</a></li>
                      <li><a href="#">찜한책</a></li>
                      <li><a href="#">형광펜</a></li>
                      <li><a href="#">나만의 명언</a></li>
                    </ul>
                  </div>
                </div>
              </div>
                            <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>회원정보</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">회원가입</a></li>
                      <li><a href="#">회원정보 변경</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-bottom-area">
            <p>Designed by <a href="#">JUSTBOOKS</a></p>
            <div class="aa-footer-payment">
              <span class="fa fa-cc-mastercard"></span>
              <span class="fa fa-cc-visa"></span>
              <span class="fa fa-paypal"></span>
              <span class="fa fa-cc-discover"></span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / footer -->
  
  <!-- Login Modal -->  
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">                      
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Login or Register</h4>
          <form class="aa-login-form" action="">
            <label for="">Username or Email address<span>*</span></label>
            <input type="text" placeholder="Username or email">
            <label for="">Password<span>*</span></label>
            <input type="password" placeholder="Password">
            <button class="aa-browse-btn" type="submit">Login</button>
            <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
            <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
            <div class="aa-register-now">
              Don't have an account?<a href="account.html">Register now!</a>
            </div>
          </form>
        </div>                        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>


    
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.js"></script>  
  <!-- SmartMenus jQuery plugin -->
  <script type="text/javascript" src="js/jquery.smartmenus.js"></script>
  <!-- SmartMenus jQuery Bootstrap Addon -->
  <script type="text/javascript" src="js/jquery.smartmenus.bootstrap.js"></script>  
  <!-- Product view slider -->
  <script type="text/javascript" src="js/jquery.simpleGallery.js"></script>
  <script type="text/javascript" src="js/jquery.simpleLens.js"></script>
  <!-- slick slider -->
  <script type="text/javascript" src="js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="js/nouislider.js"></script>
  
  <!-- Custom js -->
  <script src="js/custom.js"></script> 
